
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
    font-size: 10px;
}
:root{
    --main-color:#1E202B;
    --sec-color:#039FD9;
    --row2dark-color:#262936;
    --row2light-color:#323544;
    --row1light-color:#2D303D;

}
.bg-img{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.bg-main-color{
    background-color: var(--main-color);
}
.bg-sec-color{
    background-color: var(--sec-color);
}
.text-sec-color{
    color: var(--sec-color);
}
.bg-row2dark-color{
    background-color: var(--row2dark-color);
}
.bg-row2light-color{
    background-color: var(--row2light-color);
}
.bg-row1light-color{
    background-color: var(--row1light-color);
}
.light-color{
    color: var(--light-color);
}

.form-control:focus{
    border-color: var(--light-color);
    box-shadow: 0 0 0 .15rem var(--light-color);
}

.input-group-text{
    color: white;
    background-color: var(--sec-color);
    padding: 10px;
}

.myinput::placeholder {
  color: white;
}
.myicon:hover{
    background-color: var(--sec-color);
    color: white;
}

@media screen and (min-width:600px) {
    main .container #mymain{
        height:100vh;
    }
    main  {
        height:100%;
    }
}